{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 17, "knowledge_revision": 39, "git_revision": "dab89ebbcf4a93c883320c7acbd9973dbc9453a5", "hash": "32d524363261f0cc76f609bfc53d9e7c", "format-version": 4, "code-base-name": "default", "filename": "backend/requirements.txt", "revision_history": [{"39": "dab89ebbcf4a93c883320c7acbd9973dbc9453a5"}]}